<div style='display:inline-block'>
  <div class="search-table">
    <%= form_tag(generate_chart_stocks_path, method: :post, :class => 'search-form') do %>
      <%= text_area_tag :stock_1, params[:stock_1], class: 'search' %>
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
        Search <i class="icon-repeat"></i>
      <% end %>
    <% end %>
  </div>

  <% if @stock.chart_1.present? %>
    <img src="<%= @stock.chart_1 -%>" style="width: auto; height: 200px; display: block;margin-top: 5%;">
  <% end %>
</div>

<div style='display:inline-block'>
  <div class="search-table">
    <%= form_tag(generate_chart_stocks_path, method: :post, :class => 'search-form') do %>
      <%= text_area_tag :stock_2, params[:stock_2], class: 'search' %>
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
        Search <i class="icon-repeat"></i>
      <% end %>
    <% end %>
  </div>
  <% if @stock.chart_2.present? %>
    <img src="<%= @stock.chart_2 -%>" style="width: auto; height: 200px; display: block;margin-top: 5%;">
  <% end %>
</div>

<div style='display:inline-block'>
  <div class="search-table">
    <%= form_tag(generate_chart_stocks_path, method: :post, :class => 'search-form') do %>
      <%= text_area_tag :stock_3, params[:stock_3], class: 'search' %>
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
        Search <i class="icon-repeat"></i>
      <% end %>
    <% end %>
  </div>

  <% if @stock.chart_3.present? %>
    <img src="<%= @stock.chart_3 -%>" style="width: auto; height: 200px; display: block;margin-top: 5%;">
  <% end %>
</div>