@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$primary-color: #002C77;
$success-color: #3ecf8e;
$error-color: #ff0033;

html {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.2rem;
}

.bg-blue {
  background-color: $primary-color;
  color: #ffffff;
}

form {
  max-width: 800px;
}

a:hover { 
  text-decoration: none; 
}

.bg-red {
  background-color: #002C77;
}

.row {
  margin-top: 3rem;
}

.navbar {
  padding: 0;
}

.navbar img {
  min-height: 2rem;
  max-height: 5rem;
  display: inline;
}

.navbar-nav li a {
 line-height: 5rem;
}

.navbar ul li {
  margin-left: 3rem;
}

// .navbar ul li:first-of-type {
//   margin-left: 5rem;
//   margin-right: 6rem;
// }

.navbar-light .navbar-nav .nav-link {
  color: white;
  &:hover {
    color: lightblue;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
}

a.new, a.edit, a.delete, a.upload {
  @extend .btn;
  
  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;
  
  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

a.upload {
  @extend .btn-primary;

  &:before {
    @extend .fa-cloud-upload;
  }
}

.module-header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .actions {
    display: flex;
    align-items: center;

  }

  h1 {
    margin: 0;
  }

}

.module {
  margin-top: 3rem;
}

.icon {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: $primary-color;
}

.search-icon {
  @extend .icon;
  
  &:before {
    font-family: "FontAwesome";
    @extend .fa-search;
  }
}

.create-icon {
  @extend .icon;
  color: $success-color;
  font-size: 2rem;
  
  &:before {
    font-family: "FontAwesome";
    @extend .fa-plus-circle;
  }
}

.import-icon {
  @extend .icon;
  
  &:before {
    font-family: "FontAwesome";
    @extend .fa-upload;
  }
}

.edit-icon {
  @extend .icon;
  font-size: 2rem;
  
  &:before {
    font-family: "FontAwesome";
    @extend .fa-edit;
  }
}

.link-icon {
  @extend .icon;
  
  &:before {
    font-family: "FontAwesome";
    @extend .fa-link;
  }
}

.history-icon {
  @extend .icon;
  
  &:before {
    font-family: "FontAwesome";
    @extend .fa-history;
  }
}

.delete-icon {
  @extend .icon;
  color: $error-color;

  &:before {
    font-family: "FontAwesome";
    @extend .fa-trash;
  }
}



.search-table {
  max-width: 1200px;
  margin: 0 auto;
  display: block;

  & .search {
    text-decoration: none;
    width: 100%;
    border: none;
  }

  & .search-form {
    max-width: 100%;
  }

  & .search-btn {
    line-height: 2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    min-width: 100px;
    text-decoration: none;
    border: none;
  }
}

footer {
  padding-bottom: 5rem;
}

// Module styles

.pagination {
  padding: 1rem;
  background-color: white;
  -moz-box-shadow:    1px 2px 1px 1px #ccc;
  -webkit-box-shadow: 1px 2px 1px 1px #ccc;
  box-shadow:         1px 2px 1px 1px #ccc;
}

.row-paginate {
  display: flex;
  justify-content: flex-end;
}

.table {
  max-width: 1200px;
  margin: 0 auto;
}
.table-row {
  background: #ffffff;
  display: flex;
  line-height: 2rem;
  margin-bottom: 10px;
  text-decoration: none;
}

.name-box {
  min-width: 35%;
  display: flex;
  align-items: center;
}

.list-box {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 200px;

  & .field-label {
    color: #727272;
    text-decoration: none;
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  
  & .field-content {
    color: #444444;
    text-decoration: none;
    font-size: 0.9rem;
  }
}
.element {
  color: #444444;
  margin-left: 2rem;
  text-decoration: none;
  font-size: 1rem;
}

.element p {
  margin-top: -5px;
  margin-bottom: 0
}

.element p.main {
  font-size: 1.1rem;
  color: #000000;
}

.element p.secondary {
  font-size: 0.8rem;
  color: #999999;
}

.info-section {
  margin-top: 3rem;

  h2 {
    font-size: 1.5rem;
  }
}

.info {
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;
  text-decoration: none;

  & .box {
    min-height: 100px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    
    & .field-title {
      font-size: 0.75rem;
      color: #717171;
    }

    & .field-content {
      font-style: italic;
      font-weight: bold;
      font-size: 0.9rem;
    }
  }
}

.border-left {
  border-left: 2px solid #002C77;
}

.shadow {
  -moz-box-shadow:    1px 2px 1px 1px #ccc;
  -webkit-box-shadow: 1px 2px 1px 1px #ccc;
  box-shadow:         1px 2px 1px 1px #ccc;
}

.right-corder-container {
    position:absolute;
    right: 0;
    bottom: 0;
}

.right-corder-container-secondary {
  position:absolute;
  right: 0;
  bottom: 100px;
}

.round {
  display:block;
  height: 5rem;
  width: 5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  border-radius: 5rem;

  &:before {
    font-family: "FontAwesome";
    font-size: 2rem;
    @extend .fa-user-plus;
    color: white;
  }
}

.round-md {
  visibility: hidden;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 3.5rem;
  padding-top: 8px;
  padding-left: 12px;

  &:before {
    font-family: "FontAwesome";
    font-size: 1.5rem;
    @extend .fa-cloud-upload;
    color: white;
  }
}

.active {
  visibility: visible;
}

.bottom {
  min-height: 50px;
}


