<!DOCTYPE html>
<html>
  <head>
    <title>InterviewProject</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-light bg-red">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="<%= image_url('iex-app-icon.png')%>" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul style="width: 85rem; margin-top: -2%;" class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link" style="margin-left: 80%; width: 100%;" href="<%= stocks_path %>">Stock Charts <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="display: flex; justify-content: space-around;">
      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>
